<div class="ui container">
  <h1 class="ui header">Assignment 4 - Attribute Components</h1>
  <div class="ui divider"></div>

  <h3 class="ui header">How strong are your passwords?</h3>

  <div class="ui message">
    <div class="header">
      appPasswordStrength
    </div>
    <p>
      Custom directive 'appPasswordStrength' to show if the password is strong
      or weak
    </p>
    <ul>
      <li>Must contain atleast 1 UPPERCASE character</li>
      <li>Must contain atleast 1 lowercase character</li>
      <li>Must contain atleast 1 Number</li>
      <li>Must contain atleast 1 $P€¢i@£ character</li>
    </ul>
    <p>Entered Password is</p>
    <h2 class="ui header">{{ enteredPassword }}</h2>
  </div>

  <div class="ui segment">
    <div
      class="ui big input fluid"
      [minLength]="8"
      [mustContainLowerCaseLetters]="true"
      [mustContainUpperCaseLetters]="true"
      [mustContainNumbers]="true"
      [mustContainSpecialCharacters]="true"
      appPasswordStrength
      (Validate)="onValidate($event)"
    >
      <input
        type="text"
        placeholder="Enter your password"
        type="text"
        [(ngModel)]="enteredPassword"
      />
    </div>
    <div class="ui red message" *ngIf="!isPasswordValid">
      The password does not meet the requirements
    </div>
    <div class="ui green message" *ngIf="isPasswordValid">
      The password is valid
    </div>
  </div>
</div>
